.btn{
    font-size: 17px;
    position: relative;
    top: 100px;
    display: block;
    margin: auto;
    padding: 10px 30px;
    cursor: pointer;
    color: #fff;
    border: 0;
    border-radius: 3px;
    outline: none;
    background: #2ecc71;
    box-shadow: 0 5px 1px #27ae60;
}
.modal-in{
	width: 200px;
    height: 60px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    text-align: center;
    line-height: 60px;
    border-radius: 5px;
}
.overlay-in{
    background: rgba(0,0,0,.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.close-btn{
	font-size: 24px;
    font-weight: 700;
    line-height: 12px;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 7px 7px;
    cursor: pointer;
    color: #fff;
    border: 0;
    outline: none;
    background: #e74c3c;
}